services:
  web:
    build: .
    ports:
      - "8080:8000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: campuspulse
      POSTGRES_PASSWORD: campuspulse
      POSTGRES_DB: campuspulse
    ports:
      - "5433:5432"
    volumes:
      - campuspulse_pgdata:/var/lib/postgresql/data

volumes:
  campuspulse_pgdata:
    external: true
